* {
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    border: 0;
}

.main {
    display: flex;
}

.container {
    height: 680px;
    width: 580px; 
    background-color: #bebebe;
    padding: 60px;
    border-radius: 0 15px 15px 0px;
    display: flex;
    transition: 0.5s;
    position: relative;
    flex-direction: column;
}

.first-page {
    height: 680px;
    width: 580px; 
    padding: 60px;
    border-radius: 15px 0 0 15px;
    background-color: #232228;
}

.img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-image: url('./foto.jpg');
    position: absolute;
    top: 60px;
}

h1, h2, p {
    font-size: 18px;
    color: #232228;
    font-weight: 100;
    float: left;
}

h1 {
    flex-grow: 1;
    font-size: 26px;
}

h2 {
    flex-grow: 5;    
}

.about-container {
    height: 150px;
    padding-left: 180px;
    display: flex;
    flex-direction: column;
}

.statistics {
    margin-top: auto;
}